.carousel-container{
    width: 50rem;
}

.carousel-item{
    cursor: grab;
    height: fit-content;
    width: 37rem;
    box-shadow: 0px 0px 1px rgba(38, 78, 118, 0.35);
    border-radius: 6px;
    border-left: 5px solid #ea5933 ;
    border-top: 1px solid #ea5933;
    padding: 2rem;
    margin: 2rem;
    font-style: italic;
}

.carousel-item:hover{
    box-shadow: 0px 6px 30px rgba(38, 78, 118, 0.1);
    color: #fff;
    background-color: #ea5933;
    border-left: 5px solid #000;
}